.container{
  width:80%;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer"
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;

}

body{
  font-family: sans-serif;
}

header{
  background-color: green;
}

main{
  display: grid;
  background-color: orange;
}

nav{
  grid-area: nav;
  color: green;
}

nav ul li{
  list-style: none;
}

nav ul li{
  text-decoration: none;
  color: inherit;
}

nav ul li a:hover{
  color:black
}

.box{
  background-color: white;
  grid-area: col2 col2;
  display: grid;

}

footer{
  background-color: orange;
  padding-top: 10px;
  text-align: center;
}

a{
  text-decoration: none;
  color: orange
}

a:hover{
  color: green;
}
.appear{
  display: none;
}
#imageone{display: none;
  height: 200px;
  width: 200px;
}

#imagetwo{
  display: none;
  height: 200px;
  width: 200px;
}

#togglebox {
    width: 300px;
    height: 100px;
    background-color: green;
    display: none;
    color: white;
}
#title{
  color: black
  background-color: orange;
}
p{
  text-align: center;
  border: black;
}

img{
    height: : 500px;
    width: 500px;
}

.boxes {
  display: grid;
  display: inline-grid;
}


h1{
  color: green;
}

h2{
  color: green;
}
